<div class="row">
	<div class="col s12">
		<a href="#/create" class="col s2 offset-s8">Create a New Poll</a>
		<a href="" class="col s2" ng-click="pc.logout()">Logout</a>
	</div>
</div>
<div class="row">
	<h4>Current Polls:</h4>
</div>

<div class="row">
	<div class="input-field col s4 offset-s8">
		<input type="text" id="search" ng-model="pc.filter">
		<label for="search">Search</label>
	</div>
	<table class="striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Survey Question</th>
				<th>Date Posted</th>
				<th>Action</th>
			</tr>
		</thead>
		<tr ng-repeat="poll in pc.polls | filter: pc.filter">
			<td ng-bind="poll.created_by"></td>
			<td>
				<span><a ng-bind="poll.title" ng-click="pc.showPoll(poll._id)" href=""></a></span>
			</td>
			<td ng-bind="poll.created_at"></td>
			<td><span ng-show="pc.user == poll.created_by"><a href="" ng-click="pc.removePoll(poll._id)">Delete</a></span></td>
		</tr>
	</table>
</div>